* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  
}

.container{
  padding: 3rem;
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
}
.box1{
  height: 100px;
  width: 100px;
  background-color: orange;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 4px solid red;

  position: relative;

  /* animation-name: movement; */
  animation-name: ravi;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;

  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;

  /* shorthand property

  animation: name duration timing-function delay iteration-count direction fill-mode play-state;

   */
}


@keyframes movement {
   from{
      /* top: 0px;
      left: 0px; */
      transform: translate(0vw);
   }
   to{
       /* bottom: 0px;
       left: 1000px; */
       transform: translate(30vh , 20vw);
   }
}

@keyframes ravi {
    0%{
      transform: translate(0vw,0vh);
    }
    25%{
      
      transform: translate(40vw,-40vh);
    }
    50%{
      transform: translate(80vw,0vh);
      
    }
    75%{
      transform: translate(40vw,40vh);
      
    }
    100%{
      transform: translate(0vw,0vh);
      
    }
}
