.container{
    background-color: aquamarine;
    height: 800px;
    display: flex;
    /* it adjest the content to viewport size on to next line */
    flex-wrap: wrap;
    align-content: center;
  
}
.box{
    height: 200px;
    width: 200px;
    margin: 5px;
    border: 5px solid black;
}
.box1{
    background-color: rebeccapurple;
    
}
.box2{
    background-color: rgb(153, 51, 144);
}
.box3{
    background-color: rgb(109, 18, 22);
}
.box4{
    background-color: rgb(51, 153, 105);
}