*{
    margin: 0;
}
.first{
    display: inline-block;
    background-color: green;
   height: 100vh;
    width: 33.3%;
}
.second{
    display: inline-block;
    background-color: white;
    height: 100vh;
    width: 33.3%;

   
}
.third{
    display: inline-block;
    background-color: yellow;
    height: 100vh;
    width: 33.3%;

   
}